.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-50 {
    width: 50%;
    padding: 0 15px;
}

.col-33 {
    width: 33.33%;
    padding: 0 15px;
}


.section-head {
    text-align: center;
    margin-bottom: 40px;
}

/* 
######################################
About Hero Section 
######################################
*/
.about-hero-sec {
    /* min-height: 100vh; */
    padding: 165px 0;
    background: url('../image/about-us-img/about-us-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-hero-sec .heading-1 {
    color: #FFFFFF;
    margin: 0;
}


/* 
######################################
Your Trusted Partner Section
######################################
*/
.your-trusted-partner-sec {
    padding: 60px 0;
}

.trusted-partner-left {
    max-width: 701px;
    position: relative;
}

.trusted-partner-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trusted-partner-right .heading-2 {
    max-width: 640px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-black);
}

.trusted-partner-right .heading-2 span {
    color: var(--color-primary);
}

.trusted-partner-right p {
    /* max-width: 728px; */
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 50%);
}

.customers-overlay {
    padding: 16px;
    background: var(--color-primary);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.customers-overlay h4 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.customers-overlay p {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
}

/* 
######################################
Our Journey Section
######################################
*/
.our-journey-sec {
    padding: 60px 0;
}


.our-journey-sec .heading-2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 26px;
    color: var(--color-black);
}

.our-journey-sec .heading-2 span {
    color: var(--color-primary);
}

.our-journey-sec .section-head p {
    max-width: 1093px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 50%);
}

.our-journey-card {
    padding: 41px 33px 68px 33px;
    background: #ECEFFB;
    border-radius: 50px;
}

.our-journey-card h3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-black);
    margin-bottom: 20px;
    text-align: center;
}

.our-journey-card p {
    max-width: 441px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 50%);
}

.our-journey-card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.our-journey-card:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    transform: translateY(-6px);
}

/* 
######################################
Our Skills Section
######################################
*/
.our-skills-sec {
    padding: 60px 0;
}

.our-skills-sec .heading-2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 31px;
    color: var(--color-black);
}

.our-skills-sec .heading-2 span {
    color: var(--color-primary);
}

.our-skills-left .section-head {
    text-align: start;
}

.our-skills-left p {
    max-width: 661px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 50%);
}

.our-skills-right {
    max-width: 699px;
    margin-left: auto;
}

.our-skills-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress-bar-wrapper h3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-black);
}

.progress {
    max-width: 504px;
    height: 7px;
    background-color: #C3C1C1;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    width: 90%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 20px;
}

.interior-design,
.architect-draws {
    margin-bottom: 31px;
}

.architect-draws .progress-bar {
    width: 75%;
}

.construction-design .progress-bar {
    width: 65%;
}



/* 
######################################
Meet Our Team Section
######################################
*/
.meet-our-team {
    padding: 60px 0;
}

.meet-our-team .heading-2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 31px;
    color: var(--color-black);
}

.meet-our-team .heading-2 span {
    color: var(--color-primary);
}

.meet-our-team p {
    max-width: 798px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 50%);
}

.our-team-card {
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 50px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.our-team-card:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    transform: translateY(-6px);
}

.our-team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}


.our-team-overlay {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 28px;
    transform: translate(-50%);
    text-align: center;
}


.our-team-overlay h4 {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.our-team-overlay p {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}