.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-50 {
    width: 50%;
    padding: 0 15px;
}

.col-33 {
    width: 33.33%;
    padding: 0 15px;
}


.section-head {
    text-align: center;
    margin-bottom: 40px;
}

/* 
######################################
About Hero Section 
######################################
*/
.about-hero-sec {
    /* min-height: 100vh; */
    padding: 165px 0;
    background: url('../image/about-us-img/about-us-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-hero-sec .heading-1 {
    color: #FFFFFF;
    margin: 0;
}


/* 
######################################
Your Trusted Partner Section
######################################
*/
.your-trusted-partner-sec {
    padding: 60px 0;
}

.trusted-partner-left {
    max-width: 701px;
    border-radius: 50px;
    position: relative;
}

.trusted-partner-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.trusted-partner-right .heading-2 {
    max-width: 640px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-black);
}

.trusted-partner-right .heading-2 span {
    color: var(--color-primary);
}

.trusted-partner-right p {
    /* max-width: 728px; */
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 50%);
}

.customers-overlay {
    padding: 16px;
    background: var(--color-primary);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.customers-overlay h4 {
    max-width: 166px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.customers-overlay p {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    margin-left: 63px;
}

/* 
######################################
Our Journey Section
######################################
*/
.our-journey-sec {
    padding: 60px 0;
}


.our-journey-sec .heading-2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 26px;
    color: var(--color-black);
}

.our-journey-sec .heading-2 span {
    color: var(--color-primary);
}

.our-journey-sec .section-head p {
    max-width: 1093px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 50%);
}

.our-journey-card {
    padding: 41px 33px 68px 33px;
    background: #ECEFFB;
    border-radius: 50px;
}

.our-journey-card h3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-black);
    margin-bottom: 20px;
}

.our-journey-card p {
    max-width: 441px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 50%);
}

.our-journey-card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.our-journey-card:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    transform: translateY(-6px);
}

/* 
######################################
Our Skills Section
######################################
*/
.our-skills-sec {
    padding: 60px 0;
}

.our-skills-sec .heading-2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 31px;
    color: var(--color-black);
}

.our-skills-sec .heading-2 span {
    color: var(--color-primary);
}

.our-skills-left .section-head {
    text-align: start;
}

.our-skills-left p {
    max-width: 661px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 50%);
}

.our-skills-right {
    max-width: 699px;
    margin-left: auto;
}

.our-skills-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress-bar-wrapper h3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-black);
}

.progress {
    max-width: 504px;
    height: 7px;
    background-color: #C3C1C1;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    width: 90%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 20px;
}

.interior-design,
.architect-draws {
    margin-bottom: 31px;
}

.architect-draws .progress-bar {
    width: 75%;
}

.construction-design .progress-bar {
    width: 65%;
}



/* 
######################################
Meet Our Team Section
######################################
*/
.meet-our-team {
    padding: 60px 0;
}

.meet-our-team .heading-2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 31px;
    color: var(--color-black);
}

.meet-our-team .heading-2 span {
    color: var(--color-primary);
}

.meet-our-team p {
    max-width: 798px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 50%);
}

.our-team-card {
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 50px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.our-team-card:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    transform: translateY(-6px);
}

.our-team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}


.our-team-overlay {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 28px;
    transform: translate(-50%);
    text-align: center;
}


.our-team-overlay h4 {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.our-team-overlay p {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}



/* 
######################################
Media Query
######################################
*/
@media screen and (max-width: 1200px) {

    /* About Hero Section */
    .about-hero-sec {
        padding: 100px 0;
    }

    .about-hero-sec .heading-1 {
        font-size: 50px;
    }

    /* Our Journey Section */
    .our-journey-sec .col-33 {
        width: 50%;
    }

    .our-journey-card {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1400px) {

    /* Your Trusted Partner Section */
    .your-trusted-partner-sec .col-50 {
        width: 100%;
    }

    .your-trusted-partner-sec .gap {
        margin-bottom: 50px;
    }

    .trusted-partner-left {
        max-width: 100%;
        max-height: 480px;
        height: 100%;
    }

    .trusted-partner-right .heading-2 {
        max-width: 100%;
    }
}

@media screen and (max-width: 992px) {

    /* Our Skills Section */
    .our-skills-sec .col-50 {
        width: 100%;
    }

    .our-skill-row {
        flex-direction: column-reverse;
    }

    .our-skills-sec .our-skills-right {
        margin: 0 auto;
    }

    .our-skills-left {
        margin-top: 50px;
    }

    .our-skills-left p {
        max-width: 100%;
    }

    /* Meet Our Team Section */
    .meet-our-team .col-33 {
        width: 50%;
    }

    .meet-our-team .gap {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {

    /* Your Trusted Partner Section */
    .trusted-partner-right p {
        display: -webkit-box;
        -webkit-line-clamp: 8;
        /* number of lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .trusted-partner-right p {
        font-size: 16px;
    }

    /* Our Journey Section */
    .our-journey-sec .col-33 {
        width: 100%;
    }

    .our-journey-card p {
        max-width: 100%;
    }

    /* Meet Our Team Section */
    .our-team-overlay h4 {
        font-size: 23px;
    }

}

@media screen and (max-width: 576px) {

    /* About Hero Section */
    .about-hero-sec {
        padding: 60px 0;
    }

    .about-hero-sec .heading-1 {
        font-size: 40px;
    }

    /* Your Trusted Partner Section */
    .customers-overlay h4 {
        font-size: 18px;
    }

    .customers-overlay p {
        font-size: 25px;
    }

    .trusted-partner-left img {
        border-radius: 28px;
    }

    .trusted-partner-right .heading-2 {
        font-size: 30px;
    }

    /* Our Journey Section */
    .our-journey-sec .heading-2 {
        font-size: 28px;
    }

    .our-journey-sec .section-head p {
        font-size: 16px;
    }

    /* Our Skills Section */
    .our-skills-left p {
        font-size: 16px;
    }

    .progress-bar-wrapper h3 {
        font-size: 20px;
        margin-bottom: 18px;
    }

    .our-skills-sec .heading-2 {
        font-size: 30px;
    }

    .our-skills-sec {
        padding-top: 10px;
    }

    /* Meet Our Team Section */
    .meet-our-team .col-33 {
        width: 100%;
    }

    .meet-our-team .heading-2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .meet-our-team p {
        font-size: 16px;
    }

}

@media screen and (max-width: 480px) {

    /* About Hero Section */
    .about-hero-sec {
        padding: 50px 0;
    }

    .about-hero-sec .heading-1 {
        font-size: 35px;
    }

    /* Your Trusted Partner Section */
    .customers-overlay {
        padding: 12px;
    }

    .customers-overlay h4 {
        font-size: 14px;
    }

    .customers-overlay p {
        font-size: 20px;
        margin-left: 28px;
    }

    .trusted-partner-right .heading-2 {
        font-size: 25px;
    }

    .trusted-partner-right p {
        font-size: 14px;
    }

    /* Our Journey Section */
    .our-journey-card {
        border-radius: 25px;
    }

    .our-journey-card h3 {
        font-size: 24px;
    }

    .our-journey-card p {
        font-size: 15px;
    }

    .our-journey-sec .heading-2 {
        font-size: 25px;
    }

    .our-journey-sec .section-head p {
        font-size: 12px;
    }

    .our-journey-sec {
        padding-top: 20px;
    }


    /* Our Skills Section */
    .our-skills-sec .heading-2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .our-skills-left p {
        font-size: 14px;
    }

    /* Meet Our Team Section */
    .meet-our-team .heading-2 {
        font-size: 25px;
    }

    .meet-our-team p {
        font-size: 14px;
    }

}