.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-8 {
    width: calc(8.33% * 8);
    padding: 0 15px;
}

.col-6 {
    width: calc(8.33% * 6);
    padding: 0 15px;
}

.col-50 {
    width: 50%;
    padding: 0 15px;
}

.col-25 {
    width: 25%;
    padding: 0 15px;
}


.col-16 {
    width: 16.66%;
    padding: 0 15px;
}

/* 
######################################
Blog Hero Section 
######################################
*/
.blog-hero-sec {
    /* min-height: 100vh; */
    padding: 165px 0;
    background: url('../image/blog-page-img/Blog-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-hero-sec .heading-1 {
    color: #FFFFFF;
    margin: 0;
}


/* 
######################################
Agent Intelligence Blog Section 
######################################
*/
.agent-intelligence-sec {
    padding: 60px 0;
}

.img-box {
    /* max-width: 1024px; */
    width: 100%;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.agent-intelligence-text {
    padding: 34px 20px 36px 34px;
    border-radius: 20px 20px 20px 0;
    background: #FFFFFF;
}

.sub-head {
    display: inline-block;
    background: #E3F0F9;
    border-radius: 50px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary);
}

.agent-intelligence-text .heading-2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: none;
    color: var(--color-black);
    margin: 16px 0 26px;
    max-width: 679px;
}

.agent-intelligence-text .heading-2 span {
    color: var(--color-primary);
}

.agent-intelligence-text p {
    font-size: 20px;
    font-weight: 500;
    color: #4A4A4A;
    margin-bottom: 20px;
}

.read-more-btn {
    padding: 10px 17px;
    background: var(--color-primary);
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    border: 1px solid transparent;
    transition: 0.35s;
    display: inline-block;
}

.read-more-btn:hover {
    border: 1px solid var(--color-primary);
    background: transparent;
    color: var(--color-black);
}

.agent-intelligence-row {
    flex-wrap: nowrap;
    align-items: flex-end;
}

.float-box {
    margin-left: -214px;
}

.bottom-row {
    flex-direction: row-reverse;
    margin-top: 60px;
}

.bottom-row .float-box {
    margin-right: -270px;
    z-index: 5;
}

.bottom-row .agent-intelligence-text {
    border-radius: 20px 20px 0px 20px;
}


/* 
######################################
Best Real Estate Website Section 
######################################
*/
.best-real-state-sec {
    padding: 50px 0;
}

.best-real-state-wrapper {
    /* min-height: 502px; */
    border-radius: 50px;
    background: url('../image/blog-page-img/Best-real-estate-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left-img {
    max-width: 491px;
}

.left-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-content .heading-2 {
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 43px;
}

.right-content .heading-2 span {
    color: var(--color-primary);
}

.right-content p {
    max-width: 667px;
    font-size: 20px;
    font-weight: 500;
    color: #ffff;
    margin-bottom: 22px;
}

.best-real-state-row {
    display: flex;
    align-items: center;
}

.right-content .read-more-btn:hover {
    background: transparent;
    color: #ffff;
}

.best-real-state-wrapper {
    padding: 74px 110px 8px 227px;
}


/* 
######################################
Latest Blogs Section 
######################################
*/
.latest-blogs-sec {
    padding: 60px 0;
}

.latest-blogs-sec .heading-2 {
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    color: var(--color-black);
    line-height: calc(91/70);
    margin-bottom: 56px;
}

.latest-blogs-sec .heading-2 span {
    color: var(--color-primary);
}

.blog-img {
    max-width: 387px;
    height: 258px;
    border-radius: 50px;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card-content {
    margin-top: 20px;
}

.card-content .heading-3 {
    font-size: 23px;
    font-weight: 800;
    color: var(--color-black);
    margin: 9px 0 19px;
}

.card-content p {
    font-size: 20px;
    font-weight: 500;
    color: #4A4A4A;
    margin-bottom: 22px;
}

.blog-card {
    overflow: hidden;
    margin-bottom: 50px;
}

.blog-card:hover .blog-img img {
    transform: scale(1.2);
}


/* 
######################################
Get Expert Guidance Section
######################################
*/
.expert-guidence-sec {
    padding: 150px 0;
    background: url("../image/blog-page-img/get-expert-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.expert-guidence-wrapper {
    padding: 50px 98px;
    background: rgba(217, 217, 217, 7%);
    backdrop-filter: blur(50px);
    border-radius: 50px;
}

.expert-guidence-wrapper .heading-2 {
    font-size: 48px;
    font-weight: 900;
    color: #ffff;
    text-align: center;
    line-height: 79.872px;
}

.expert-guidence-wrapper .heading-2 a {
    color: var(--color-primary);
    display: inline-flex;
    align-items: center;
}

.expert-guidence-wrapper .heading-2 a i {
    transform: rotate(-40deg);
    font-size: 30px;
    color: #ffff;
    margin-left: 5px;
}


/* 
######################################
Instagram Post Section
######################################
*/
.insta-post-sec {
    padding: 60px 0;
    margin: 50px 0;
}

.insta-post-sec .heading-2 {
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    color: var(--color-black);
    line-height: calc(91/70);
    margin-bottom: 56px;
}

.insta-post-sec .heading-2 span {
    color: var(--color-primary);
}

.insta-story {
    max-width: 250px;
    height: 264px;
    overflow: hidden;
    border-radius: 40px;
    position: relative;
}

.insta-story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    transition: transform 0.85s ease;
}

.insta-story:hover img {
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 285px;
    left: 0;
    padding: 20px 25px;
    display: flex;
    gap: 5px;
    transition: 0.55s linear;
}

.overlay i {
    font-size: 30px;
    color: #ffff;
    transition: 0.45s linear;
}

.overlay i:hover {
    color: var(--color-primary);
}

.overlay span {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #ffff;
}

.insta-story:hover .overlay {
    top: 185px;
}