@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
.buyers-hdr-wrapper{
    text-align: center;
    margin: 50px auto ;
}
.buyers-sec.title-2{
    max-width: 804px;
    font-size: 64px !important;
    font-weight: bold !important;
    color: #000000;
    line-height: calc(83/64);
    font-family: "DM Sans", sans-serif;
}
.buyers-sec span{
    color: #375DD9;
}

.buyers-hdr-pera{
    max-width: 586px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin: 10px auto 60px ;
}

/* search box */
.search-box{
  position: relative;
  width: 100%;
  max-width: 777px ;
  margin: auto;
}
.search-box input{
  width: 100%;
  height: 65px;
  padding-left: 65px; 

  border-radius: 10px;
  border: 0.5px solid #535353;
  outline: none;
  font-size: 16px;
}
.search-box svg {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  pointer-events: none;
}

.buyers-menu-list .active{
  background:#375DD9 ;
  padding: ;
}