:root {
  --color-primary: #375dd9;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-blue: #dee4f8;
  --color-lightest-blue: #e9edfb;
  --color-form-bg: #f5f7fd;
}
.contactus-container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col2 {
  width: calc(8.33% * 2);
  padding: 0 15px;
}
.col3 {
  width: calc(8.33% * 3);
  padding: 0 15px;
}
.col4 {
  width: calc(8.33% * 4);
  padding: 0 15px;
}
.col5 {
  width: calc(8.33% * 5);
  padding: 0 15px;
}
.col7 {
  width: calc(8.33% * 7);
  padding: 0 15px;
}

/*Banner Section*/
.contactus-banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 462px;
  color: var(--color-white);
  background: url(../image/contact-us-image/Frame\ 1261153516.png) no-repeat
    center/cover;
  margin-bottom: 50px;
}
/*Form Section*/
.contactus-form-section {
  margin-top: 60px;
  margin-bottom: 60px;
  /* height: 934px; */
}
.card-style {
  background: var(--color-form-bg);
  border-radius: 18px;
  padding: 40px;
  
}

.contact-section {
  display: flex;
  gap: 40px;
  margin: 60px 0;
  align-items: flex-start;
}

.col7  {
  flex: 2;
}

.col7  h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.col7  .subheading {
  font-size: 15px;
  color: #7a7a7a;
  margin-bottom: 24px;
}

.contact-form .flex-row {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px 18px;
  border: 1px solid #d7dbe1;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
 
}

/* .contact-form input:focus,
.contact-form textarea:focus {
  border-color: #5c97f2;
} */

.contact-form textarea {
  height: 130px;

}

.checkbox-row {
  margin: 16px 0;
  font-size: 14px;
}

.checkbox-row a {
  color: #2376f2;
  text-decoration: underline;
}

.col5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.info-box{
    background: var(--color-form-bg);
}
.info-box .info-line {
  display: flex;
  gap: 12px;
  margin-bottom: 22px;
  align-items: start;
}

.info-box .icon {
  font-size: 24px;
  margin-top: 3px;
}

.info-box h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.info-box p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #555;
}

.map-box iframe {
  width:100%;
  height: 100%;
  border-radius: 12px;
  border: none;
}
/*Promotion Section Start*/

.contactus-promotion-section{
    margin-bottom: 50px;
}
.img-container{
    /* width: 251px;
    width: 93px; */
    margin-right: 37.5px;
}
.img-container>img{
    width: 100%;
    height: 100%;
    transition: all linear 0.3s;
}
.img-container>img:hover{
  transform: scale(1.1);
}