:root {
  --color-primary: #375dd9;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #bdbdbd;
  --color-orange: #ff6600;
}
/* 
==========================
FINACE HERO SECTION
==========================
 */
.finance-hero-sec {
  background: url("../image/finance-page-img/finance-hero-bg.png") no-repeat
    center/cover;
  padding: 165px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.finance-hero-sec .heading-1 {
  color: white;
  margin: 0;
}

/* 
==========================
LOAN DETAILS SECTION
==========================
*/

.loan-details-section{
  padding: 100px 0;
}

/* wrapper */
.loan-details-wrapper{

  display: flex;
  justify-content: center;
  align-items: center;
}

/* image container */
.loan-details-img{
  width:75%;
  margin: 0 auto;
    position: relative;
}

.loan-details-img img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}


.right-loan-details-card{
  position: absolute;
  top: 40%;
  right: 10%;              
  transform: translateY(-50%); 
  width: 420px;
  background: white;
  padding: 35px 30px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  z-index: 2;
}

/* heading */
.right-loan-details-card .heading-3{
  text-align: center;
}

/* form group */
.form-group{
  position: relative;
  margin-bottom: 28px;
}


   /* CUSTOM DROPDOWN */


.custom-dropdown{
  position: relative;
}

/* dropdown head (looks like input) */
.dropdown-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #bdbdbd;
  font-size: 15px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 18px;
  color: #626161;
 font-family: "DM Sans", sans-serif;}

/* arrow */
.dropdown-head svg{
  width: 16px;
    height: 20px;
  transition: transform 0.3s ease;
}

.custom-dropdown.open .dropdown-head svg{
  transform: rotate(180deg);
}

/* dropdown list */
.dropdown-list{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  display: none;
  z-index: 10;
 text-transform: capitalize;
  font-family: "DM Sans", sans-serif;
}

.custom-dropdown.open .dropdown-list{
  display: block;
}

/* dropdown items */
.dropdown-list li{
  padding: 12px 15px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-list li:hover{
  background: var(--color-primary);
}

/* property identified */
.property-identyfy label{
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
  text-transform: capitalize;
}


/* Pin Code */ 
.form-group input[type="text"]{
  width: 100%;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 10px 0;         
  font-size: 15px;
  font-family: inherit;
  color: #000;
  background: transparent;
  outline: none;
}

/* placeholder look */
.form-group input[type="text"]::placeholder{
  color: #9a9a9a;
  font-size: 15px;
}

/* .form-group input[type="text"]:focus{
  border-bottom-color: #3f63e0;
} */


.radio-btns{
  display: flex;
}

.radio-btn{
  padding: 8px 26px;
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  background: #fff;
  color: var(--color-primary);
  cursor: pointer;
  margin-right: 12px;
  transition: all 0.2s ease;
}

.radio-btn:last-child{
  margin-right: 0;
}

.radio-btn:focus{
  background: var(--color-primary);
  color: #fff;
  outline: none;
}

/* next button */
.nextbtn{
  margin-top: 30px;
}

.nextbtn a{
  display: block;
  text-align: center;
  padding: 12px;
  border-radius: 30px;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 16px;
  text-decoration: none;
   font-family: "DM Sans", sans-serif;
}




