.banner-main-img {
    border-radius: 20px;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.banner-main-img img {
    display: block;
}

.page-top-part {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 40px 0;
}

.page-top-right {
    display: flex;
    gap: 30px;
}

.page-top-right svg {
    width: 30px;
    height: 30px;
}

.back-to-listing {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 20px;
    color: #375DD9;
    font-weight: 500;
    text-transform: capitalize;
}

.back-to-listing:hover {
    color: #142357;
}

.back-to-listing svg {
    width: 30px;
    height: 30px;
}

.banner-btm-img {
    display: flex;
    justify-content: start;
}

.banner-btm-img img {
    max-width: 180px;
    display: block;
}

.small-img-1 {
    margin-right: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.property-details {
    padding: 60px 0;
}

.property-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

/* Left Side */
.property-left {
    /* flex: 1; */
    width: 70%;
    padding-right: 50px;
}

.property-price {
    color: #ff6a00;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.property-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.property-location {
    color: #666;
    font-size: 36px;
    margin-bottom: 25px;
}

.property-location i {
    color: #3b5ddd;
    margin-right: 6px;
}

.property-features {
    display: flex;
    gap: 20px;
    background: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
}

.feature-item i {
    font-size: 26px;
    margin-bottom: 6px;
    color: #444;
}

.feature-item span {
    font-weight: 600;
    font-size: 22px;
}

.feature-item small {
    color: #777;
    font-size: 24px;
}

.property-about h4 {
    font-size: 40px;
    margin-bottom: 10px;
}

.property-about p {
    font-size: 18px;
    color: #666;
    line-height: 1.7;
}

/* Right Side */
.property-right {
    width: 30%;
    background: #f5f6f8;
    padding: 25px;
    border-radius: 12px;
    height: 515px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.interest-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 16px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 12px;
}

.primary-btn {
    background: #3b5ddd;
    color: #fff;
    border: none;
    transition: all .3s ease;
}

.primary-btn:hover {
    background: #2747ba;
}

.outline-btn {
    background: transparent;
    border: 1px solid #3b5ddd;
    color: #3b5ddd;
    transition: all .3s ease;
}

.outline-btn:hover {
    background-color: #aca6a64e;
}

.agent-box {
    margin-top: 25px;
}

.agent-title {
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 20px;
}

.agent-contact {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

.agent-contact i {
    color: #3b5ddd;
    font-size: 22px;
}

.agent-note {
    display: block;
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}

.property-extra {
    padding: 60px 0;
}

.property-extra-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

/* Left */
.property-extra-left {
    flex: 1;
}

.key-features h2,
.property-info h3 {
    margin-bottom: 50px;
}

/* Key Features */
.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 40px;
}

.feature-box {
    background: #f4f5f7;
    padding: 14px 16px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 550;
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-box .dot {
    width: 8px;
    height: 8px;
    background: #3b5ddd;
    border-radius: 50%;
}

/* Property Details */
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.info-box {
    background: #f4f5f7;
    padding: 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.info-box i {
    font-size: 26px;
    color: #3b5ddd;
}

.info-box small {
    font-size: 22px;
    color: #777;
    display: block;
}

.info-box strong {
    font-size: 24px;
    font-weight: 600;
}

/* Right */
.property-extra-right {
    width: 360px;
}

.map-badge {
    display: inline-block;
    background: #f4f5f7;
    padding: 10px 24px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 20px;
    margin-bottom: 40px;
}

.map-box {
    width: 100%;
    height: 622px;
    border-radius: 14px;
    overflow: hidden;
}

.map-box iframe {
    width: 100%;
    height: 100%;
    border: none;
}


/* media queries */
@media screen and (max-width: 1200px) {

    header,
    footer {
        display: none;
    }

    .banner-btm-img img {
        max-width: 165px;
        display: block;
    }

    .property-price {
        font-size: 44px;
    }

    .property-title {
        font-size: 36px;
    }

    .property-wrapper {

        gap: 0px;

    }

    .btn {
        font-size: 16px;
    }

    .agent-contact {
        font-size: 16px;
    }

    .property-about h4 {
        font-size: 36px;
    }

    .property-details {
        padding: 50px 0;
    }

    .property-extra-wrapper {
        gap: 25px;
    }

    .map-badge {
        font-size: 20px;
    }

    .feature-box {
        font-size: 18px;
    }

    .info-box small {
        font-size: 20px;
    }

    .info-box strong {
        font-size: 22px;
    }
}

@media screen and (max-width: 992px) {
    .banner-btm-img img {
        max-width: 82px;
        display: block;
    }

    .small-img-1 {
        margin-right: 24px;

    }

    .property-title {
        font-size: 30px;
    }

    .property-price {
        font-size: 40px;
    }

    .property-left {
        padding-right: 18px;
    }

    .property-left {
        /* flex: 1; */
        width: 60%;
        padding-right: 25px;
    }

    .property-right {
        width: 40%;
    }

    .property-about p {
        font-size: 16px;
    }

    .property-location {
        font-size: 24px;
    }

    .property-extra-left {
        width: 100%;
    }

    .property-extra-wrapper {
        flex-wrap: wrap;
    }

    .property-extra-left {
        flex: none;
    }

    .property-extra-right {
        width: 100%;
        padding: 0 70px;
    }







}


@media screen and (max-width: 768px) {
    .banner-btm-img img {
        max-width: 60px;
    }

    .small-img-1 {
        margin-right: 10px;
    }

    .property-price {
        font-size: 35px;
    }

    .property-left {
        /* flex: 1; */
        width: 100%;
    }

    .property-wrapper {
        flex-wrap: wrap;
    }

    .property-right {
        width: 100%;
    }

    .feature-item small {
        font-size: 16px;
    }

    .property-extra-right {
        width: 100%;
        padding: 0;
    }



}

@media screen and (max-width: 576px) {
    .page-top-part {
        padding: 28px 0 28px 0;
    }

    .back-to-listing {
        font-size: 16px;
    }

    .property-details {
        padding: 40px 0;
    }

    .property-price {
        font-size: 30px;
    }

    .property-title {
        font-size: 22px;
    }

    .property-location {
        font-size: 20px;
    }

    .property-left {
        padding: 0;
    }

    .map-box {
        height: 500px;
    }

}