/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cmn class start*/
body {
    font-family: "DM Sans", sans-serif;
}

.container {
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cmn-btn {
    display: inline-block;
    padding: 10px 26px;
    font-size: 18px;
    font-weight: 500;
    color: #375DD9;
    background-color: #fff;
    border: 2px solid #375DD9;
    border-radius: 100px;
    text-transform: capitalize;
    transition: all .3s ease;
}

.cmn-btn:hover {
    background-color: #375DD9;
    color: #fff;
}

h1,
.heading-1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 28px;
    font-family: "DM Sans", sans-serif;
}

h2,
.heading-2 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-family: "DM Sans", sans-serif;
}

h3,
.heading-3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 28px;
    font-family: "DM Sans", sans-serif;
}

h4,
.heading-4 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: "DM Sans", sans-serif;
}

h5,
.heading-5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 28px;
    font-family: "DM Sans", sans-serif;
}

h6,
.heading-6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 28px;
    font-family: "DM Sans", sans-serif;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #0000007b;
}

.cmn-gap {
    padding: 60px 0;
}

:root {
    --color-primary: #375DD9;
    --color-black: #000000;
    --color-white: #F5F7FD;
    --color-light-blue: #DEE4F8;
    --color-lightest-blue: #E9EDFB;
}

/* cmn class end */

/* header sec start */
.menu-bar {
    display: none;
}

.header-sec {
    background-color: #fff;
    padding: 25px 0;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    background-color: #e0e0e065;
    padding: 10px 34px;
    border-radius: 100px;
}

.nav-links li {
    margin-right: 5px;
}

.nav-links li:nth-child(7) {
    margin-right: 0;
}

.nav-links li a {
    display: block;
    color: #000;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 40px;
    transition: all .3s ease;
}

.nav-links li a:hover {
    background-color: #fff;
}

.nav-links li a.active-page-select {
    background-color: #fff;
    color: #375DD9 !important;
}

.nav-links li a:hover {
    color: #375DD9;
}

.left-btn {
    border: none;
    margin-right: 27px;
    color: #000;
}

/* header sec end */
/* banner sec start */
.banner-sec {
    background-color: #fff;
    position: relative;
}

.banner-upper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 300px;
}

.banner-child {
    padding-top: 50px;
}

.banner-left,
.banner-right {
    width: 20%;
}

.banner-right,
.banner-left span {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.happy-customers,
.awards-winning {
    margin-bottom: 60px;
}

.banner-center p {
    width: 48%;
    margin: 0 auto 28px;
    text-transform: capitalize;
}

.banner-center p a {
    color: #0D99FF;
    font-weight: 600;
}

.banner-btn {
    background-color: #375DD9;
    color: #fff;
}

.banner-btn:hover {
    color: #000;
    background-color: #fff;
}

.banner-right {
    text-align: end;
}

.banner-center {
    width: 60%;
    text-align: center;
}

.cmn-number {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 7px;
}

.banner-sec .banner-btm-sec {
    background-color: #0D0E10;
    height: 270px;
    display: flex;
    align-items: center;
}

.banner-lower {
    position: absolute;
    display: flex;
    bottom: 20%;
    width: 1750px;
    margin-left: -50px;
}

.cmn-banner-img {
    width: 14%;
    padding: 6px;
    box-shadow: 5px 5px 50px #55555581;
    transform: rotate(15deg);
    background-color: var(--color-white);
    filter: grayscale(100%);
    transition: all .3s ease;
    cursor: pointer;
}

.cmn-banner-img:nth-child(-n+3) {
    transform: rotate(-15deg);
}

.cmn-banner-img:nth-child(7) {
    transform: rotate(-15deg);
}

.cmn-banner-img:nth-child(6) {
    transform: rotate(-15deg);
}

.cmn-banner-img:nth-child(5) {
    transform: rotate(-10deg);
}

.cmn-banner-img:nth-child(4) {
    z-index: 100;
    filter: grayscale(0);
}

.cmn-banner-img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
    z-index: 200;
}

.banner-bottom-btn {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-white);
}

.banner-bottom span {
    margin-left: 8px;
}

.banner-bottom i {
    color: var(--color-primary);
    font-size: 25px;
}

.banner-bottom {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.right-arrow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-left: 22px;
    padding: 10px;
    background-color: var(--color-white);
}

/* .right-arrow-icon:hover i {
    transform: translateX(20px);
    overflow: hidden;

} */

.highlight-text-color {
    color: var(--color-primary);
}

/* banner sec end */
/* featured sec start */
.featured-sec {
    background-color: var(--color-white);
}

.featured-upper-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.featured-upper-child h2 {
    margin-bottom: 0;
}

.featured-upper-child p {
    width: 40%;
}

.featured-image {
    border-radius: 50px;
    overflow: hidden;
}

.featured-top img {
    display: block;
    transition: all .3s ease;
}

.featured-top img:hover {
    scale: 1.1;
}

.featured-top {
    position: relative;

}

.featured-top span {
    position: absolute;
    top: 4%;
    right: 10%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.77);
    font-size: 18px;
    font-weight: 500;
    color: var(--color-white);
    padding: 5px 24px;
    border-radius: 50px;
}

.featured-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cmn-featured {
    width: calc(25% - 30px);
}

.featured-heading {
    font-size: 23px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.featured-bottom span {
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}

.featured-bottom {
    padding-top: 18px;
}

.featured-bottom span i {
    color: var(--color-primary);
}

.featured-btn {
    display: inline-block;
    text-align: center;
}

.featured-btn-wrapper {
    text-align: center;
    margin-top: 42px;
}

/* featured sec end */
/* our vision sec start */
.our-vision-sec {
    background-color: #375dd912;
}

.our-vision-child {
    display: flex;
    flex-wrap: wrap;
}

.our-vision-left,
.our-vision-right {
    width: 50%;
    padding: 0 15px;
}

.our-vision-left-inner-text p {
    margin-bottom: 31px;
}

.our-vision-img {
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    background: url(../image/Home-page-images/our-vision-left-img.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 520px;
    transition: all .8s ease;
}

.our-vision-img:hover {
    background-position: center;
}

.our-vision-img-2 {
    background: url(../image/Home-page-images/our-vision-right-img.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin-bottom: 31px;
}

.our-vision-img::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    transition: all .3s ease;
    overflow: hidden;
}

.our-vision-img:hover:after {
    background: rgba(0, 0, 0, 0);

}

.our-vision-img img {
    display: block;
    transition: all .3s ease;
    width: 782px;
    height: 520px;
}

.our-vision-left-inner-text h2,
.our-vision-right-inner-text h2 {
    margin-bottom: 31px;
}

/* our vision sec end */
/* explore our Services start */
.explore-our-Services-sec {
    background-color: var(--color-white);
}

.explore-our-Services-img {
    width: 64px;
    margin-bottom: 31px;
    display: block;
}

.explore-our-Services-upper-child {
    text-align: center;
    margin-bottom: 40px;
}

.explore-our-Services-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cmn-explore-our-Services {
    width: calc(33.33% - 25px);
    background-color: rgba(55, 93, 217, 0.1);
    border-radius: 50px;
    padding: 64px 40px;
    transition: all 0.3s ease;
}

.cmn-explore-our-Services:hover {
    box-shadow: 5px 5px 50px rgba(9, 6, 31, 0.4);
    transform: translateY(-10px);
}

.explore-our-Services-content p {
    margin-bottom: 25px;
}

.explore-our-Services-content h3 {
    color: var(--color-black);
}

.explore-our-Services-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.explore-our-Services-btn span {
    display: inline-block;
    border-top: 1px solid #375DD9;
    width: 92px;
    vertical-align: middle;
    margin-left: 6px;
}

.explore-our-Services-btn:hover span {
    border-color: #555;
}

.explore-our-Services-btn:hover {
    background-color: transparent;
    color: #555;
}

/* explore our Services end */
/* find property sec start */
.find-property-sec {
    background-color: var(--color-white);
}

.find-property-upper-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.find-property-upper-child p {
    width: 35%;
}

.cmn-find-property {
    background: url(../image/Home-page-images/find-property-img-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    display: flex;
    align-items: end;
}

.find-property-child {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, minmax(475px, auto));
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 100px;
}

.property-1 {
    grid-area: 1 / 1 / 2 / 6;
}

.property-2 {
    grid-area: 2 / 1 / 3 / 4;
    background: url(../image/Home-page-images/find-property-img-2.png);
    background-size: cover;
}

.property-3 {
    grid-area: 2 / 4 / 3 / 6;
    background: url(../image/Home-page-images/find-property-img-3.png);
    background-size: cover;
}

.room-details {
    display: flex;
    background-color: #2c2b2bb3;
    padding: 21px 37px;
    border-radius: 50px;
}

.cmn-room-details {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.find-property-details-img {
    width: 21px;
    margin-right: 7px;
}

.find-property-details-img img {
    display: block;
}

.cmn-find-property-inner h3 {
    color: var(--color-white);
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 7px;
}

.cmn-find-property-inner {
    padding: 0 0 36px 50px;
}

.cmn-room-details span {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
    text-transform: capitalize;
}

.find-property-btn-wrapper {
    text-align: center;
}

/* find property sec end */

/* why with us sec start */
.why-with-us-sec {
    background-color: var(--color-white);
}

.why-child {
    display: flex;

}

.why-icon-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.profile-image img {
    display: block;
    border-radius: 50%;
}

.why-left {
    width: 70%;
    padding-right: 150px;
    display: flex;
    align-items: center;
}

.why-right {
    width: 30%;
}

.why-right-inner-image {
    border-radius: 50px;
    overflow: hidden;
}

.why-right-inner-image img {
    display: block;
}

.why-profile-wrapper {
    display: flex;
    align-items: center;
}

.why-abobe-tag {
    font-size: 20px;
    font-weight: 550;
    margin-left: 8px;
}

.why-icon-wrapper i {
    font-size: 14px;
    color: var(--color-primary);
}

.profile-text h3 {
    margin-bottom: 8px;
    text-transform: uppercase;
}

.profile-text {
    margin-left: 25px;
    text-align: start;
}

.why-inner-text h2 {
    margin-bottom: 20px;
}

.why-inner-text p {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
}

/* why with us sec end */

/* testimonials sec start */
.testimonials-sec {
    background-color: var(--color-white);
}

.testimonials-upper-child {
    background: url(../image/Home-page-images/testimonials-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0;
    margin-bottom: 40px;
    text-align: center;
}

.testimonials-upper-child h2 {
    color: var(--color-white);
    margin-bottom: 26px;
}

.testimonials-upper-child p {
    color: var(--color-white);
}

.testimonials-upper-child .container {
    width: 54%;
}

.testimonials-top {
    width: 60px;
    margin-bottom: 30px;
}

.testimonials-child {
    display: flex;
    /* flex-wrap: wrap; */
}

.testimonials-cmn-card {
    /* width: calc(20% - 50px); */
    background-color: rgba(55, 93, 217, 0.12);
    padding: 30px 40px 50px 15px;
    border-radius: 45px;
    margin-right: 20px;
}

.testimonials-bottom p {
    margin-bottom: 45px;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(0, 0, 0, 1);
}

.testimonials-name {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.testimonials-bottom span {
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
}

.center .slick-slide {
    opacity: 0.4;
    transform: scale(0.85);
    transition: 0.3s;
}

.center .slick-center {
    opacity: 1;
    transform: scale(1);
}

.testimonial-btn {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.prev-btn,
.next-btn {
    background-color: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #b8d7ea;
}

.prev-btn i,
.next-btn i {
    font-size: 16px;
    color: var(--color-white);
    cursor: pointer;
}

.prev-btn:hover i,
.next-btn:hover i {
    color: var(--color-black);
}

.prev-btn {
    margin-right: 10px;
}

/* testimonials sec end */

/* question sec start */

.sec-heading {
    width: 23%;
}

.questions-upper-child h2 {
    margin-bottom: 40px;
    font-weight: 500;
}

.questions-upper-child {
    display: flex;
    justify-content: center;
    text-align: center;
}

.questions-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.questions-heading i {
    cursor: pointer;
}

.questions-child {
    display: flex;
    justify-content: center;
}

.questions-inner-text {
    max-width: 65%;
}

.questions-accordion-cmn {
    margin-top: 45px;
}

.questions-accordion-cmn p {
    width: 95%;
}

.unvisible {
    display: none;
}

/* question sec end */

/* latest-blog-sec-starst */
.blog-card-img {
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 18px;
}

.blog-card-img img {
    display: block;
    height: 300px;
}

.blog-date {
    border-radius: 57px;
    padding: 10px 20px;
    margin-bottom: 18px;
    font-weight: 600;
    border: 1px solid rgb(77, 75, 75);
    display: inline-block;
    color: rgba(12, 28, 39, 1);
}

.blog-card-btm p {
    font-weight: 500;
    color: rgba(12, 28, 39, 1);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-blog-card-cmn {
    padding: 0 20px;
    text-align: start;
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.latest-blog-swiper-btn {
    display: flex;
    margin-right: 60px;
}


.swiper-button-next-own,
.swiper-button-prev-own {
    background-color: rgba(55, 93, 217, 0.09);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 17px 15px;
    transition: all .3s ease;
    cursor: pointer;
}

.swiper-button-next-own i,
.swiper-button-prev-own i {
    font-size: 25px;
    color: var(--color-primary);
}

.swiper-button-next-own {
    margin-left: 15px;
}

.swiper-button-next-own:hover,
.swiper-button-prev-own:hover {
    background: rgba(55, 93, 217, 0.257);
}

.latest-blog-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.latest-blog-top h2 {
    margin: 0;
}

/* latest-blog-sec-ends */






























/* footer sec start */
.footer-sec {
    background-color: #F5F7FD;
}

.footer-child {
    display: flex;
    flex-wrap: wrap;
}

.footer-left {
    width: 70%;
    padding: 120px 80px 60px 0;
}

.footer-right {
    width: 30%;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #0000000d;
}

.social-links {
    display: flex;
}

.social-links li {
    margin-right: 25px;
}

.social-links li:nth-child(3) {
    margin-right: 0;
}

.social-links li a {
    display: block;
    font-size: 19px;
    font-weight: 400;
    text-transform: capitalize;
    color: #000;
}

.social-links li a:hover {
    color: #375DD9;
}

.social-links li a i {
    color: #375DD9;
}

.footer-mid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.footer-heading {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-links li {
    margin-bottom: 18px;
}

.footer-links li a {
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    display: block;
    transition: all 0.3s ease;
}

.footer-links li a:hover {
    color: #375DD9;
}

.footer-links li a i:hover {
    transform: scale(1.6);
}

.footer-links li a i {
    color: #375DD9;
    margin-right: 10px;
}

.gmail {
    text-transform: lowercase !important;
}

.gmail img {
    margin-right: 10px;
    vertical-align: middle;
}

.cmn-footer {
    width: 50%;
    padding: 0 40px;
}

.footer-end {
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 500;
    color: #000;
    padding: 9px 0 24px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.copyright-icon {
    margin: 0 4px;
}

.brand-a {
    color: var(--color-primary);
    font-weight: 600;
}

.brand-a:hover {
    color: #375DD9;
}

.privacy-terms a {
    color: #000;
    font-size: 19px;
    font-weight: 500;
}

.privacy-terms a:nth-child(1) {
    margin-right: 25px;
}

.privacy-terms a:hover {
    color: #375DD9;
}

.footer-mid {
    margin-bottom: 100px;
}

.privacy-terms p {
    display: inline-block;
    color: #000;
    margin-right: 20px;
}

.footer-right {
    background: url(../image/Home-page-images/footer-right-bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.footer-right h2 {
    margin-bottom: 24px;
    color: #fff;
}

.footer-right p {
    margin-bottom: 24px;
    color: #fff;
}

input[type="email"] {
    font-size: 18px;
    width: 100%;
    border-radius: 54px;
    padding: 15px 25px;
    outline: none;
    border: 1px solid #fff;
}

input[type="email"]::placeholder {
    font-size: 18px;
    text-transform: capitalize;
}

.email-btn {
    width: 100%;
    background-color: #375DD9;
    color: #fff;
    border: none;
    padding: 15px 0;
}

.email-btn:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.email-btn i {
    vertical-align: middle;
    font-size: 16px;
}

.footer-right-inner-text form {
    margin-bottom: 24px;
}

.footer-right-inner-text span {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#location {
    display: flex;
    align-items: flex-start;
}


.location-parent span {
    display: block;
    line-height: 1.2;
}

/* footer sec end */



/* media query start */
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}










/* footer sec end */




@media screen and (max-width: 1400px) {

    .banner-lower {
        width: 1239px;
    }

    .nav-links li a {
        padding: 10px;
    }

    .nav {
        justify-content:
            start;
    }

    .left-btn {
        margin-right: 10px;
    }

    .nav-links {
        display: none;
    }

    .footer-left {
        width: 70%;
        padding: 50px 47px 36px 0;
    }

    .footer-right {
        padding: 0 22px;
    }

    h3,
    .heading-3 {
        font-size: 34px;
    }

    .nav {
        justify-content: space-between;
    }

    .menu-bar i {
        font-size: 30px;
    }

}

@media screen and (max-width: 1200px) {
    .banner-lower {
        width: 1000px;
    }

    .room-details {
        padding: 14px 15px;
    }

    .cmn-room-details span {
        font-size: 10px;
    }

    .cmn-find-property-inner {
        padding: 0 0 25px 15px;
    }

    .footer-right {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 500px;
    }

    .footer-left {
        width: 100%;
    }






}

@media screen and (max-width: 992px) {
    .banner-lower {
        width: 805px;
    }

    h1,
    .heading-1 {
        font-size: 54px;
    }

    .banner-upper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 156px;
    }

}

@media screen and (max-width: 768px) {
    .banner-lower {
        width: 805px;
    }

    h1,
    .heading-1 {
        font-size: 54px;
    }

    .banner-upper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 156px;
    }

}

@media screen and (max-width: 992px) {
    .banner-lower {
        width: 805px;
    }

    h1,
    .heading-1 {
        font-size: 54px;
    }

    .banner-upper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 156px;
    }

    .banner-lower {
        width: 680px;
    }

    h1,
    .heading-1 {
        font-size: 45px;
    }

    .room-details {
        display: none;
    }

    .banner-lower {
        width: 630px;
    }

    .banner-bottom-btn {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--color-white);
    }

    h2,
    .heading-2 {
        font-size: 35px;
    }

    .cmn-featured {
        width: calc(50% - 30px);
        margin-bottom: 20px;
    }

    .our-vision-left,
    .our-vision-right {
        width: 100%;
        margin-bottom: 30px;
    }

    .cmn-explore-our-Services {
        width: calc(50% - 15px);
        margin-bottom: 15px;
    }

    .cmn-explore-our-Services {
        padding: 40px 30px;
    }

    .footer-left {
        padding: 50px 2px 36px 0;
    }


    .banner-upper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 156px;
    }

    .cmn-btn {
        padding: 6px 12px;
        font-size: 16px;
    }

    .nav-links li a {
        font-size: 16px;
    }

    .nav-logo img {
        max-width: 140px;
    }

    h1,
    .heading-1 {
        font-size: 45px;
        margin-bottom: 11px;

    }

    .banner-center p {
        width: 68%;
    }

    .happy-customers,
    .awards-winning {
        margin-bottom: 45px;
    }

    .cmn-number {
        font-size: 38px;
    }

    .banner-lower {
        width: 1030px;
    }

    .right-arrow-icon {
        padding: 8px;
    }

    .banner-bottom i {
        font-size: 20px;
    }

    .banner-lower {
        bottom: 22%;
    }

    .featured-bottom {
        padding-top: 16px;
    }

    .cmn-gap {
        padding: 50px 0;
    }

    .testimonials-cmn-card {
        padding: 28px 23px 28px 24px;
    }

    .sec-heading {
        width: 35%;
    }

    .blog-date {
        margin-bottom: 10px;
        padding: 9px 15px;
    }

    .cmn-btn {
        padding: 15px 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {

    .menu-bar {
        display: block;
    }

    .nav-links {
        display: inline-block;
        position: fixed;
        top: 87px;
        background-color: white;
        width: 60%;
        text-align: center;
        right: 0;
        transform: translateX(100%);
        padding-block: 15px;
        height: calc(100vh - 87px);
        transition: all .3s ease;
        z-index: 100000;
        border-radius: 0;
    }

    .nav-links li {
        margin-bottom: 20px;

    }

    .nav-links.active {
        transform: translateX(0);
    }


    .banner-lower {
        width: 800px;
    }

    .banner-sec .banner-btm-sec {
        height: 261px;
    }

    .featured-upper-child p {
        width: 56%;
    }

    .cmn-featured {
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }

    .our-vision-left-inner-text h2,
    .our-vision-right-inner-text h2 {
        margin-bottom: 20px;
    }

    .property-2 {
        grid-area: 2 / 1 / 3 / 6;

    }

    .property-3 {
        grid-area: 3 / 1 / 6 / 6;

    }

    .find-property-child {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, minmax(475px, auto));
        row-gap: 24px;
        column-gap: 24px;
        margin-bottom: 100px;
    }

    .find-property-upper-child p {
        width: 42%;
    }

    .why-left {
        width: 100%;
    }

    .why-child {
        display: flex;
        flex-wrap: wrap;
    }

    h1,
    .heading-1 {
        font-size: 35px;
        margin-bottom: 11px;
    }

    .cmn-number {
        font-size: 30px;
    }

    .banner-center p {
        width: 75%;
    }

    .cmn-btn {
        padding: 14px 20px;
        font-size: 16px;
    }

    .banner-lower {
        bottom: 20%;
    }

    .banner-sec .banner-btm-sec {
        height: 200px;
    }

    .banner-bottom {
        margin-top: 83px;
    }

    h2,
    .heading-2 {
        font-size: 30px;
    }

    .why-right {
        width: 70%;
        margin: 0 auto 30px;
        order: -1;
    }

    .why-profile-wrapper {
        margin-bottom: 30px;
    }

    .testimonials-upper-child .container {
        width: 85%;
    }

    .questions-upper-child h2 {
        margin-bottom: 25px;
    }

    .sec-heading {
        width: 60%;
    }

    h4,
    .heading-4 {
        font-size: 22px;
    }

    p {
        font-size: 17px;
    }

    .footer-right {
        height: 463px;
    }

    .footer-end {
        font-size: 16px;
    }

    .privacy-terms a {
        color: #000;
        font-size: 16px;
        font-weight: 500;
    }

    .footer-links li a {
        font-size: 16px;
    }

    .footer-heading {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {

    .banner-lower {
        width: 615px;
    }

    .featured-upper-child p {
        width: 51%;
    }

    p {
        font-size: 16px;
    }

    .cmn-featured {
        width: 100%;
    }

    .cmn-explore-our-Services {
        width: 100%;
    }

    .explore-our-Services-img {
        width: 55px;
    }


    h3,
    .heading-3 {
        font-size: 30px;
    }

    .explore-our-Services-btn {
        padding: 14px 0;
    }

    .explore-our-Services-content p {
        margin-bottom: 20px;
    }

    .find-property-upper-child p {
        width: 40%;
    }

    .find-property-upper-child h2 {
        max-width: 40%;
    }

    .find-property-upper-child h2 {
        max-width: 56%;
    }

    .sec-heading {
        width: 75%;
    }

    .questions-inner-text {
        max-width: 80%;
    }

    h2,
    .heading-2 {
        font-size: 25px;
    }

    .swiper-button-next-own,
    .swiper-button-prev-own {
        height: 50px;
        width: 50px;
    }

    .swiper-button-next-own i,
    .swiper-button-prev-own i {
        font-size: 18px;
    }

    .latest-blog-card-cmn {
        padding: 0 15px;
    }

    .footer-right {
        border-radius: 30px;
    }

    .social-links li a {
        font-size: 16px;
    }

    .footer-heading {
        font-size: 20px;
    }

    .footer-end {
        font-size: 15px;
    }

    .privacy-terms a {
        font-size: 15px;
    }

    .questions-inner-text {
        max-width: 90%;
    }

    .sec-heading {
        width: 80%;
    }
}

@media screen and (max-width: 575px) {

    .banner-lower {
        width: 451px;
    }

    .cmn-banner-img:nth-child(1) {
        display: none;
    }

    .cmn-banner-img:nth-child(2) {
        display: none;
    }

    .cmn-banner-img:nth-child(7) {
        display: none;
    }

    .cmn-banner-img:nth-child(7) {
        display: none;
    }

    .cmn-banner-img:nth-child(6) {
        display: none;
    }

    .cmn-banner-img {
        width: 60%;
    }

    .banner-upper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-left,
    .banner-right {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .cmn-btn {
        padding: 10px 15px;
        font-size: 16px;
    }

    .banner-center {
        width: 90%;
        margin-bottom: 30px;
    }

    .banner-lower {
        bottom: 10%;
    }

    .banner-sec .banner-btm-sec {
        height: 228px;
    }

    .featured-upper-child h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .featured-upper-child {
        justify-content: center;
    }

    .featured-upper-child p {
        width: 80%;
        text-align: center;
    }

    .featured-btn-wrapper {
        text-align: center;
        margin-top: 20px;
    }

    .cmn-gap {
        padding: 40px 0;
    }

    .our-vision-left,
    .our-vision-right {
        width: 100%;
        padding: 0px;
    }

    h3,
    .heading-3 {
        font-size: 20px;
    }

    .explore-our-Services-btn {
        padding: 10px 0;
    }

    h3,
    .heading-3 {
        margin-bottom: 18px;
    }

    .explore-our-Services-content p {
        margin-bottom: 15px;
    }

    .find-property-upper-child h2 {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .find-property-upper-child p {
        width: 100%;
        text-align: center;
    }

    .find-property-upper-child {
        justify-content: center;
    }

    h2,
    .heading-2 {
        margin-bottom: 30px;
    }

    .find-property-child {
        margin-bottom: 50px;
    }

    .why-left {
        padding: 0;
    }

    .why-inner-text p {
        margin-bottom: 27px;
    }

    .testimonials-upper-child {
        padding: 100px 0;
    }

    .testimonials-upper-child .container {
        width: 95%;
    }

    h4,
    .heading-4 {
        font-size: 18px;
    }

    .questions-upper-child h2 {
        margin-bottom: 15px;
    }

    .latest-blog-swiper-btn {
        display: flex;
        margin-right: 10px;
    }

    .email-btn {
        padding: 15px 15px;
    }

    .footer-upper {
        flex-wrap: wrap;
    }

    .social-links {
        width: 100%;
        justify-content: center;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .cmn-footer {
        width: 100%;
        padding: 0px 4px;
        text-align: center;
    }

    .copy-right {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-end {
        flex-wrap: wrap;
    }
}